body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: black;
  background-image: url("assets/Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}

header,
footer {
  display: none;
  flex-direction: row;
  background-color: rgba(192, 159, 159, 0.75);
  width: 100svw;
  position: fixed;
  padding: 0.5svh 1svh;
}

main {
  width: 90svw;
  padding-top: 10svh;
  padding-bottom: 4svh;
  margin: auto;
}

nav {
  display: flex;
  width: 98svw;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 2svh;
  justify-content: flex-end;
  font-size: 1.5em;
}

.adress {
  border-right: solid rgb(255, 255, 255);
  padding-right: 1svh;
}

header {
  top: 0;
  height: 6svh;
}

footer {
  bottom: 0;
  font-size: 0.8em;
  height: 1.5svh;
  vertical-align: middle;
}

.footer {
  padding: 0;
}

.name,
.job,
.lienEntree {
  text-align: center;
}

.name {
  font-size: 3rem;
}

.job {
  font-size: 2rem;
}

.lienEntree {
  font-size: 1.5rem;
}

.welcomeBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

.contactBox,
.mainBox,
.portfolioBox .CVBox {
  text-align: center;
}

.contactBox,
.mainBox,
.CVBox,
.portfolioBox {
  display: none;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

h2 {
  text-align: center;
}

.CVBox {
  padding: 2svh;
}

.contactTools {
  text-decoration: underline;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.linkWCS {
  text-decoration: underline;
}

.logoLI {
  width: 25px;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactMean {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 25svw;
  min-height: 8svh;
  font-size: 1.25em;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

.intro {
  width: 90svw;
  font-size: 1.3em;
}

.infoLang,
.formLangues {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.informatique,
.formLangues,
.experiences {
  border-top: dotted white 0.5px;
  width: 80svw;
  padding: 2svh 0;
}

.expPro {
  padding-left: 10svh;
}

.formation,
.langues {
  width: 30svw;
}

.annee {
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

.CVTitles {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.CVIntro {
  text-align: center;
  font-style: italic;
}

.photoCV {
  width: 25svw;
  max-width: 120px;
  margin: auto;
  padding: 2vh;
}

.cardImg {
  width: 15svh;
  margin: 0 auto 2svh auto;
}

#cards,
#cardsOld {
  padding: 2svh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5svh;
}

.card {
  background-color: rgba(192, 159, 159, 0.75);
  width: 20svw;
  min-height: 40svh;
  border-radius: 25px;
  padding: 2svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardTitle {
  text-decoration: underline;
  font-weight: bold;
}

.cardText {
  font-size: 1.25rem;
}

button {
  background-color: rgb(148, 123, 123, 0.75);
  border: none;
  border-radius: 5px;
  padding: 0.5svh;
  margin: 0.5svh;
  color: rgba(255, 255, 255);
  font-size: 1rem;
}

.lienEntree,
.portfolio,
.CV,
.contact {
  cursor: grab;
}

.lienEntree:hover,
.portfolio:hover,
.CV:hover,
.contact:hover {
  text-decoration: underline overline 1px;
}

strong {
  text-decoration: underline;
}

video {
  width: 75svw;
  height: 75svh;
  margin: auto;
}

@media screen and (max-width: 900px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .welcomeBox {
    width: 90svw;
  }

  main {
    padding-top: 11svh;
  }

  .links {
    flex-direction: column;
    gap: 0;
    font-size: 1em;
    padding-left: 1svh;
  }

  nav {
    width: 96svw;
    justify-content: left;
  }

  header {
    padding: 2svh;
  }

  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .CVTitles {
    font-size: 1.8em;
  }

  .cardText {
    font-size: 1rem;
  }

  .card {
    height: 55svh;
  }

  #cards,
  #cardsOld {
    grid-template-columns: repeat(1, 1fr);
  }

  .contactMean {
    width: 300px;
    font-size: 1em;
  }

  .infoLang {
    align-items: center;
  }

  .formation,
  .langues {
    width: 80svw;
  }

  .expPro {
    padding-left: 2svh;
  }
}
