body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: black;
  background-image: url("Assets/Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}

header,
footer {
  display: none;
  padding: 15px;
  flex-direction: row;
  background-color: rgba(192, 159, 159, 0.75);
  width: 100%;
  position: fixed;
}

main {
  width: 90%;
  padding-top: 100px;
  padding-bottom: 45px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.links {
  padding-left: 15px;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  font-size: 1.5em;
}

.adress {
  padding-right: 15px;
  border-right: solid rgb(255, 255, 255);
}

header {
  top: 0;
  height: 60px;
}

footer {
  bottom: 0;
  font-size: 0.6em;
  height: 10px;
}

.name,
.job,
.lienEntree {
  text-align: center;
}

.name {
  font-size: 3rem;
}

.job {
  font-size: 2rem;
}

.lienEntree {
  font-size: 1.5rem;
}

.welcomeBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

.contactBox,
.mainBox,
.portfolioBox .CVBox {
  text-align: center;
}

.contactBox,
.mainBox,
.CVBox,
.portfolioBox {
  display: none;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

.CVBox {
  width: 95%;
}

.contactTools {
  text-decoration: underline;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logoLI {
  width: 25px;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactMean {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 350px;
  min-height: 100px;
  font-size: 1.25em;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 159, 159, 0.75);
}

.intro {
  width: 90%;
  font-size: 1.3em;
}

.infoLang {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
}

.annee {
  font-weight: bold;
  text-decoration: underline;
  padding-right: 10px;
}

h3 {
  margin: 0;
  font-weight: lighter;
  text-decoration: underline;
}

.formation,
.informatique,
.experiences {
  padding: 0 25px;
}

.CVTitles {
  padding-top: 20px;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.CVIntro {
  text-align: center;
  font-style: italic;
}

.photoCV {
  padding-top: 25px;
  width: 25%;
  max-width: 120px;
  margin: auto;
}

.cardImg {
  width: 200px;
  padding-bottom: 25px;
  margin: auto;
}

#cards {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background-color: rgba(192, 159, 159, 0.75);
  width: 250px;
  height: 400px;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardTitle {
  text-decoration: underline;
  font-weight: bold;
}

.cardNoImgText {
  font-size: 1.5rem;
}

button {
  background-color: rgb(148, 123, 123, 0.75);
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 0px 5px 10px 5px;
  color: rgba(255, 255, 255);
  font-size: 1rem;
}

.lienEntree,
.portfolio,
.CV,
.contact {
  cursor: grab;
}

.lienEntree:hover,
.portfolio:hover,
.CV:hover,
.contact:hover {
  text-decoration: underline overline 1px;
}

@media screen and (max-width: 900px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .welcomeBox {
    width: 95%;
  }

  .links {
    flex-direction: column;
    gap: 0;
    font-size: 1em;
  }

  header,
  footer {
    padding: 5px;
  }

  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .infoLang {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .CVTitles {
    font-size: 1.8em;
  }

  .card {
    width: 280px;
  }

  #cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .contactMean {
  width: 300px;
  font-size: 1em;
}
